<!DOCTYPE html>
<html ng-app='app'>
    <head >
        <meta charset="UTF-8" />
        <title>{% block title %} | Gestion'hair{% endblock %}</title>

        {#% block stylesheets %} 
            {% stylesheets output="css/compiled/mains.css" filter="cssrewrite"
                "css/bootstrap.min.css"
                "css/jumbotron-narrow.css"
                "css/myStyle.css"
                
            %} 
        <link href="{{ asset_url }}" rel="stylesheet">
            {% endstylesheets %}


        {% endblock %#}
        
        
        {% stylesheets filter="compass"
                "@GestionCoreBundle/Resources/assets/sass/*.scss" %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        
        
        
        
        {% block javascript %} 
          <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> 
        
        {% endblock %} 
        
        {% javascripts '@GestionCoreBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}       

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon1.ico') }}" />

    </head>
    <body>
        <div class="row">
            <div class="container">
                <a href="{{ path('gestion_articles_home') }}">
                    <img src="{{ path('gestion_homepage') }}img/logo-mr.png" alt="" class="img-logo">
                </a>
                
                <span style="float: right">{% if is_granted("ROLE_SALARIE") %} compte : {{ app.user.username }} {% endif %}</span>
                <h1>Gestion</h1>    </div>
        </div>
        <div class="container-fluid">
            {% block menu %}
                {% include 'GestionCoreBundle:public:header.html.twig' %}
            {% endblock %}
            {% block flash %}
                {% for flashMessage in app.session.flashbag.get('notice') %}

            <div class="alert alert-success alert-dismissible col-lg-6 " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                    {{ flashMessage }}
            </div>



                {% endfor %}
                {% for flashMessagewarning in app.session.flashbag.get('warning') %}

            <div class="alert alert-warning alert-dismissible col-lg-6 " role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p> {{ flashMessagewarning }}</p>
            </div>



                {% endfor %}
            {% endblock %}

            {% block body %}

            <div class="col-lg-12">
                    {% block jumbotron %}
                    {% endblock %}
            </div>
            <div class="row marketing">
                <div class="col-lg-12">
                        {% block rowMarketing %}
                        {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    {% block row %}
                    {% endblock %}    
                </div>
            </div>



            {% endblock %}
            {% block javascripts %}

            {% endblock %}

        </div>


        
        <p>Application Environment: {{ app.environment }}</p>
        
    </body>
</html>
