{% extends "::baseGestion.html.twig" %}
{% block title %}Client {{parent()}}{% endblock %}
    {% block stylesheets %} 
        {{ parent() }}
    {% endblock %}
{% block jumbotron %}

<h1>parametres</h1>
<h3>Gestion des taxes</h3>
<p>
    <a class="btn btn-sm btn-success"  href="{{path('gestion_core_taxe_create')}}" 
       role="button">nouvelle taxe</a>
</p>
<div class="col-lg-6"> 
{% for taxe in allTaxes %}

    <ul class="list-group">
        <li class="list-group-item ">
            Nom :  {{taxe.nom}} <br />
            Taux :  {{taxe.taux}}% 
            <a class="btn btn-sm btn-primary" 
               href="{{path('gestion_core_taxe_update', {id:taxe.id})}}" 
               role="button">modifier</a>
        </li> 
    </ul>
{% endfor%}
</div>
{% endblock %}