{% extends "::baseGestion.html.twig" %}
{% block title %}Mis à jour Taxe {{parent()}}{% endblock %}
{% block stylesheets %} {{ parent() }}{% endblock %}
{% block jumbotron %}
<div class="col-lg-12">
    <h3>Mis à jour de la taxe : </h3>
    <h4> {{ form.nom.vars.value }} / {{ form.taux.vars.value }} %</h4>
    <p class="lead" >
    
    <form role="form" action="{{ path('gestion_core_taxe_update', {id: taxe.id}) }}" method="POST">
        <p>{{form_widget(form)}}</p>
        <input class="btn btn-primary" type="submit" value="valider" />  
        <a class="btn btn-default" href="{{ path('gestion_core_taxe_homepage') }}">retour liste</a>
        <a  class="btn btn-danger deleteAction" href="{{path("gestion_core_taxe_delete" , {id:taxe.id})}}">supprimer cette taxe</a>
    </form>
   </p>
</div>
{% endblock %}

