<table border="0" class="table">
    <thead>
        <tr>
            <th style="width: 5%">vd</th>
            <th style="width: 40%">article</th>
            <th style="width: 10%">Prix HT</th>
            <th style="width: 5%">TVA</th>
            <th style="width: 40%;text-align: center;">Prix TTC</th>
            {% if  cmd.solde  == false or is_granted("ROLE_ADMIN") %}
                <th style="width: 5%">Supp</th>
            {% endif %}
        </tr>
    </thead>
    <tbody > 
        {% set totalHT = 0 %}
        {% set TTC = 0 %}

        {% for l in cmd.lignesCommandes %} 
        {% set totalHT = l.prixHt + totalHT %}
        {% set TTC = ((l.prixHt * l.tva)/100 + l.prixHt ) + TTC %}
        <tr>
            <td>{{ l.salarie ? (l.salarie.nom | slice(0, 3)) : '#' }} </td>
            
            <!-- editable designation -->
            <td class="{{ (l.editable and (cmd.solde  == false or(is_granted("ROLE_ADMIN")) )) ? "tdeditable" : ''}}">
                <span class="{{ l.editable ?  "tdeditablespan" : '' }}">{{l.designation}}</span>
                
                <form style="display:none" class="{{ l.editable ?  "tdeditableform"  : ''}}">
                    <input type="text" class="inputeditable" name="designation" value='{{l.designation}}'>
                    <input type="hidden" name="idLgnCmd" value="{{l.id}}">
                    
                    
                   <!-- <input type="submit" >-->
                    
                    <button type="submit" class="btn btn-default valideMaj" aria-label="Left Align">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default cancelMaj" aria-label="Left Align">
                        <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
                    </button>
                    
                    
                </form>
            </td>
            <!-- /editable designation -->
            
            <td class="calPrixHt">{{l.prixHt ? (l.prixHt | number_format(2 )   ~ '€') : ''}}</td>
            <td>{{l.tva ? (l.tva ~ '%') : '' }}</td>
            
            
            <!-- editable prixTTC -->
            {% set TTClgn = (l.prixHt * l.tva)/100 + l.prixHt  %}
            <td style="font-size: 1.5em;text-align: center;" class="{{ (l.editable and (cmd.solde  == false or is_granted("ROLE_ADMIN")) )?  "tdeditable" : '' }}">
                <span class="{{ l.editable  ? "tdeditablespan" : ''}}">
                    {{ l.prixHt ? ( TTClgn | number_format(2 ) ~'€') : ""}}
                </span>
                <span class="error_message"></span>
                <form action="" style="display:none" class="{{ l.editable ?  "tdeditableform" : ''}}">
                    <input  type="number" step="any"  class="inputeditable" name="prixTTC" data-txtva="{{l.tva ? (l.tva) : '0' }}"
                           value="{{ l.prixHt ? ( TTClgn | number_format(2 )) : ""}}" style="width: 30%;">
                    <input type="hidden" name="idLgnCmd" value="{{l.id}}">
                    
                    
                    
                    <button type="submit" class="btn btn-default valideMaj" aria-label="Left Align">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default cancelMaj" aria-label="Left Align">
                        <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
                    </button>
                </form>
                    
            </td>
            <!-- /editable prixTTC -->
                {% if  cmd.solde  == false or is_granted("ROLE_ADMIN") %}
            <td>
                    <button class="btn btn-default supp-lg" data-id="{{l.id}}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>  
                {% endif %}

                
            
        </tr>
        {% if l.technique %}
        <tr>
            
            <td >tech</td>
                {% if  cmd.solde  == false or is_granted("ROLE_ADMIN")%}
                
                
                    
                    <td colspan='5' class="tdeditable">
                        <span class="tdeditablespan">{{l.detail ? (l.detail | nl2br) : 'cliquez pour ajouter la techniques'}}</span>
                        <form class="col-md-6  tdeditableform" style="display:none">
                            
                                <input type="hidden" name="idLgnCmd" value="{{l.id}}">
                                <textarea class="form-control" name="detail"  >{{l.detail}}</textarea>
                                
                               <!-- <input type="submit" value="sauver" >-->
                                
                                <button type="submit" class="btn btn-default valideMaj" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-default cancelMaj" aria-label="Left Align">
                                    <span class="glyphicon glyphicon-remove " aria-hidden="true"></span>
                                </button>
                               
                            
                        </form>
                    </td>
                    
                


                {%else %}  
                <td colspan='5'>
                    <div class="alert alert-warning" role="alert">
                        Detail {{l.detail}}
                    </div>
                </td>
                {% endif %}
            
            

        </tr>
        {% endif %}

        {% endfor %}
        
       <tr class="info">
            <td colspan="3">TOTAL</td>
            
            <td></td>
            <td style="font-size: 1.5em;text-align: center;" data-totalttc="{{cmd.getMontantTTC() | number_format(2 )}}" id="cmdTotalTTC">{{cmd.getMontantTTC() | number_format(2 )}} €</td>
            
        </tr>


    </tbody>
</table>


                {% if not cmd.solde or is_granted("ROLE_ADMIN") %}
                 <div class="btn-group btn-group-justified">
                     <a class="btn btn-danger" 
                        href="{{path('gestion_commandes_delete', {id:cmd.id})}}" 
                        role="button">
                         Supprimer la commande
                     </a>

                 </div>

                {% endif %}


<script type="text/javascript">
  
  
    $('.supp-lg').click(function(){
       //var lign = $(this).parent('td').parent('tr');
       var urlPatern = "{{path("gestion_ligne_cmd_delete", {id:'__idarticle__'})}}";

       console.log($(this).attr('data-id'));
       //var idArt = ;
       var url = urlPatern.replace("__idarticle__", $(this).attr('data-id'));
       $.get( url)
           .done(function(data){
               $("#corp-detail-commande").html(data);
           })
           .fail(function() {
               alert( "error" );
           });

   });
   
   $('.tdeditable').click(function(){
       $(this).children('span').hide();
       $(this).children('form').show();
    });
    
    function setDefaultForm(eleToShow, eleToHide){
        eleToHide.hide();
        eleToShow.show();
    };
    
    $('.cancelMaj').click(function(event){
    event.stopPropagation();
   
    var eleToHide = $(this).parent('.tdeditableform');
    var eleToShow = eleToHide.siblings('span');
    
        setDefaultForm(eleToShow ,  eleToHide);
    
});



$('.tdeditableform').submit(function(event){
    event.preventDefault();
    
    
    var thisForm =   $(this);
    var spanMessage = thisForm.siblings('.tdeditablespan');
    var inputVal = thisForm.children('.inputeditable').val();
    var data = thisForm.serialize() ;
    var urlPatern = "{{ path('gestion_edite_lgcmd')   }}";
      
    console.log(data);
      
      
    
    $.post(urlPatern,  data)  
        .done(function(data) {
            var mess;
            if(data.designation !== null){
                mess = data.designation;
            }
            else if(data.prixTTC !== null){
                mess = data.prixTTC;
            }
            else if(data.detail !== null){
                mess = data.detail;
            }
            
            
            
            spanMessage.text(mess);
            setDefaultForm(spanMessage, thisForm);
            
            
            console.log(data);
            
        })
        .fail(function(data) {
            alert( "error" +data);
        });
        
   
    
});
    
   
$("input[name='prixTTC']").change(function(){
    
    var allTTC = $("input[name='prixTTC']");
    
    
    var valInput = $(this).val();
    var txTva = $(this).data('txtva');
    var tdEdit = $(this).parent('form').parent('.tdeditable');
    var defHt = valInput / ((txTva/100)+1);
     
    tdEdit.siblings('.calPrixHt').text(defHt.toFixed(2));
    
    
    var totalTTC = 0;
    
    $.each(allTTC , function(){
        ///console.log("i = "+i);
        
         totalTTC += parseFloat($(this).val());
        
    });
    
    
    $('#cmdTotalTTC').text(totalTTC.toFixed(2) + " €");
    $('#cmdTotalTTC').data('totalttc', totalTTC.toFixed(2));
    
});
   
   
   
   
</script>